.container {
    display: flex;
}
.news-image img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.news-content{
    padding: 15px;
}
.news-content-heading {
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bolder;
}
.news-content-text {
    font-family: sans-serif;
    font-size: 15px;
    text-align: justify;
}
.item-1, .item-2, .item-3 {
    margin: 15px;
    /* box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, 0.8); */
    border: 1px solid black;
    border-radius: 10px;
}
.item-1
{
    flex: 1;    
}
.item-2
{
    flex: 1;   
}
.item-3
{
    flex: 1;  
}