a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
ul {
    list-style-type: none;
    background-color: chocolate;
}
ul li {
    padding: 30px;
    font-size: 20px;
    font-family: sans-serif;
}
.nav-menu {
    display: flex;
}
.downdown 
{
    position: relative;
}
.dropdown-item {
    display: none;
    position: absolute;
    top: 90px;
    left: 0;
    padding:0;
    width: 210px;
}

.downdown:hover .dropdown-item{
    display: block;
}